<!DOCTYPE html>
<html lang="en">
{% load static%}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>Dashboard</title>

    {# CSS #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.8/c3.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Zebra_datepicker/1.9.4/css/bootstrap.min.css">
    <link href="{% static 'leafapp/css/dashboard.css' %}" rel="stylesheet">

        {# Dashboard theme color #}
    <style>
        :root {
            --product-color: {% block theme_color_dashboard %}#7abecc{% endblock %};
        }

        .skin-blue .main-header .navbar, .select2-container--default, .select2-results__option--highlighted[aria-selected], .Zebra_DatePicker td.dp_selected {
            background-color: var(--product-color) !important;
        }

        .breadcrumb li a:hover {
            color: var(--product-color);
        }

        .box.box-default {
            border-top-color: var(--product-color) !important;
        }

        .company-logo {
            padding-top: 8px;
            margin-right: 15px;
        }

        .my-custom-scrollbar {
        position: relative;
        height: 400px;
        overflow: auto;
        }
        .table-wrapper-scroll-y {
        display: block;
        }
    </style>
    {# JS #}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.21/c3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Zebra_datepicker/1.9.4/javascript/zebra_datepicker.src.js"></script>
    <script type="text/javascript" src="{% static 'leafapp/js/dashboard.js' %}"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>


</head>

<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">

        {# Navigation bar #}
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container-fluid">

                    <div class="navbar-header">

                        <span class="product-name"><h4>Classification and Detection of Nutritional Deficiencies in Coffee Plants using
                            Image Processing and Convolutional Neural Network (CNN)</h4></span>
                    </div>

                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            {# Navigation bar links #}
                            {% block navlinks %}
                            {% endblock %}
                        </ul>
                    </div>

                    <div class="navbar-custom-menu">

                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/description" title="Description"><i class="fa fa-info fa-2x" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="/manual/" title="Manual"><i class="fa fa-barcode fa-2x" aria-hidden="true"></i></a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a href="/admin/" title="Admin"><i class="fa fa-users fa-2x" aria-hidden="true"></i></a>
                            </li>
                            {% endif %}

                            <li id="logout">
                                <a href="#" title="Sign out"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
                                {% csrf_token %}
                            </li>
                        </ul>

                    </div>

                </div>
            </nav>
        </header>
        <br>
        <br>
        <br>
        <p>This study is conducted to classify and detect the nutritional deficiencies in coffee plants. Four varieties of coffee plants are included in the study; Arabica, Liberica, Excelsa and Robusta.  Eight nutritional deficiencies are identified in Robusta, these are Nitrogen (N), Potassium (K), Phosphorus (P), Calcium (Ca), Boron (B), Zinc (Z), Magnesium (Mg), and Iron (Fe). Phosphorus (P) and Potassium (K) are found in Arabica variety.  Phosphorus (P) and Nitrogen (N) in Liberica variety. Excelsa variety has deficiencies in Phosphorus (P), Potassium (K) and Calcium (Ca). Temperature readings from the coffee farms and nurseries are also identified. The standard temperature reading for Arabica is from 15 degree Celsius to 24 degree Celsius. The standard temperature reading for Liberica, Excelsa and Robusta is from 24 degree Celsius to 30 degree Celsius</p>
        <div class="text-center">
            <img src="{%static '/images/firstimage.png' %}"  style="width: 75%;" />
        </div>
        <br>
        <div class="text-center">
            <img src="{%static '/images/secondimage.png' %}" style="width: 75%;" />
        </div>
        <br>
        <div class="text-center">
            <h4>Accuracy Results:</h4>
            <img src="{%static '/images/thirdimage.png' %}" style="width: 75%;" />
        </div>
        <br>
        <br>
        <br>



    </div>

</body>

</html>
